<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body style = "background: linear-gradient(#141e30, #f27b9b);" >
        <div class = "main-content">
            {{>header}}
        <img class="profilePic" src="/img/profile_pic.jpeg" style="width:200px; border-radius: 50%">
        <h3>{{name}}</h3>
        <h3>{{message}}</h3>
        </div>
        {{>footer}}
    </body>
</html>