<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body style = "background: linear-gradient(#141e30, #eb7132);">
        <div class = "main-content">
            {{>header}}
            {{message}}
        </div>
        
        {{>footer}}
    </body>
</html>