

<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/css/nav.css">

</head>
<body>
<div class="background-one">
  <div class="link-container">
    <a class="link-one" href="/home">Home</a>
  </div>
</div>
<div class="background-two link-container">
  <a class="link-two" href="/about">About</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="/help">Help</a>
</div>
</body>
</html>
